$bg-color: #1F1F1F;
$base-color: #494949;
$block-color: #313131;
$t2-color: #B4B4B4;
$button-color: #DEDEDE;
$text-primary: #FFFFFF;
$text-secondary: #ADADAD;
$text-bold: 24px;
$text-regular: 16px;
$text-bold-secondary: 36px;
$text-bold-primary: 48px;
